<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
	<div class="p-3 rounded text-white">

		<div class="card-footer my-1 px-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center">
				<a class="btn btn-outline-dark mt-auto" asp-area="Admin" asp-controller="Author" asp-action="Index">Go to Authors</a>
			</div>
		</div>

		<div class="card-footer my-1 px-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center">
				<a class="btn btn-outline-dark mt-auto" asp-area="Admin" asp-controller="Book" asp-action="Index">Go to Books</a>
			</div>
		</div>
	</div>
</div>